$sidebar-desktop-width: 20%;
$content-section-desktop-width: 80%;
$header-section-height: 191px;
$footer-section-height: 36px;

.main {
  display: flex;

  .sidebar {
    width: $sidebar-desktop-width;
    background-color: lightpink;
    height: 100vh;
  }
  .content-section {
    width: $content-section-desktop-width;
    height: 100vh;
    position: relative;

    .header-section {
      height: $header-section-height;
      background-color: lightsteelblue;
    }
    .middle-section {
      background-color: lightyellow;
    }
    .footer-section {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: lightsteelblue;
    }
  }

  .row {
    margin: 0;
  }
}
