.main{
    background-color: lightblue;
    height: 100vh;
}

.welcome-card{
    position: absolute;
    width: 40%;
    margin: 13% 0 0 31%;
    padding: 45pt 50pt 45pt 50pt;
    background-color: darkgray;
}

.title{
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: indigo;
}

.text{
    font-size: medium;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslateblue;
}
